# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0
    address {{ eth0.address }}
    gateway {{ eth0.gateway }}

{% for n in range(1,32) %}
auto swp{{n}}
iface swp{{n}}
{% endfor %}
{% for vrf in vrfs %}
auto {{ vrf }}
iface {{ vrf }}
    vrf-table auto
{% endfor %}

auto bridge
iface bridge
    bridge-ports swp1
    bridge-vids 1001-1030
    bridge-vlan-aware yes

{% for interface in vlans %}
{%- for vlan, data in interface.items() %}
auto {{ vlan }}
iface {{ vlan }}
    address {{ data['address'] }}
    address-virtual {{ data['vrr']['mac'] }} {{ data['vrr']['ip'] }}
    alias {{ data['description'] }}
    vlan-id {{ data['vlanid'] }}
    vlan-raw-device bridge
    vrf {{ data['vrf'] }}
{%- endfor %}
{% endfor %}